*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: cursive;
    background-color:	rgb(10,10,10);
  }
   /*Centering the Page*/                                                
   .center{
    position: absolute;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  /*Locate and Size of Hobbies Information*/
  .center .title{
    font-size: 100px;
    margin-left: 50px;
  }
/*Txt-Information*/
  .txt{
    color: white;
   background-color:	rgb(10,10,10);
    font-family: "Times New Roman", Times, serif;
  }
/*Text-Hobbies*/
  .text{
    color: ghostwhite;
    background-color:	rgb(10,10,10);
    font-family: "Times New Roman", Times, serif;
  }

/*Outdoor*/
.h1{
  position: fixed;
  top: 220px;
  left:380px;
  color: greenyellow;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}
/*Swimming*/
.s1{
  position: fixed;
  top: 300px;
  left: 430px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Jogging*/
.s2{
  position: fixed;
  top: 440px;
  left: 433px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Hiking
*/
.s3{
  position: fixed;
  top: 490px;
  left: 435px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Traveling*/
.s4{
  position: fixed;
  top: 345px;
  left: 430px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Shopping*/
.s5{
  position: fixed;
  top: 388px;
  left: 430px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Indoor*/
.h2{
  position: fixed;
  top: 220px;
  left:700px;
  color: greenyellow;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}
/*Reading Book*/
.S1{
  position: fixed;
  top: 400px;
  left: 750px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Play Computer Games*/
.S2{
  position: fixed;
  top: 350px;
  left: 750px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Cooking*/
.S3{
  position: fixed;
  top: 500px;
  left: 750px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Read manwa & manhuas*/
.S4{
  position: fixed;
  top: 300px;
  left: 750px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Sleeping*/
.S5{
  position: fixed;
  top: 450px;
  left: 750px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
/*Direct to Portfolio Page*/
.goback button{
  border: 4px solid white;
  font-family: "Lucida Console", "Courier New", monospace;
  position: relative;
  top: 810px;
  left: -1px;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, rgba(229, 68, 68, 0.928),rgba(41, 243, 81, 0.92));
  border-radius: 25px;
  padding: 10px 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.6s ease;
  color: white;
  background-color:black;
  }
  .goback button:hover{
  background: white;
  color: black;
  opacity: 1;
  }
  .goback button:active{
  opacity: 0.8;
  }
